@model Financije.Presentation.Models.Financije.DescriptionPreviewModel;

<div class="card">
    <div class="card-header bg-primary text-uppercase text-white">
        <h4>Opis - promijena</h4>
    </div>
    <form enctype="multipart/form-data" asp-controller="Financije" asp-action="DescriptionEdit" method="post">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="DescriptionName" class="control-label"></label>
                        <input asp-for="DescriptionName" class="form-control" />
                        <input hidden asp-for="CurrentPage" class="form-control" />
                        <input hidden asp-for="DescriptionId" class="form-control" />
                        <span asp-validation-for="DescriptionName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <input type="submit" value="Spremi" class="btn btn-primary" style="width:90px" />
                    <a asp-action="DescriptionView" asp-controller="Financije" asp-route-currentPage="@Model.CurrentPage"
                       class="btn btn-danger">Odustani</a>
                </div>
            </div>
        </div>
    </form>
</div>