
<div class="text-center">
    <h1>Financije</h1>

    <h4>Izbornik</h4>
    <hr />

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-lg-4">
                <a asp-controller="Financije" asp-action="StoreView" class="btn btn-info btn-block mb-2">Pregled Primatelja/platitelja</a>
                <a asp-controller="Financije" asp-action="DescriptionView" class="btn btn-warning btn-block mb-2">Pregled opisa</a>
                @*<a asp-controller="Financije" asp-action="ViewCertificateDT" class="btn btn-warning btn-block mb-2">Pregled certifikata</a>*@
            </div>
        </div>
    </div>
</div>
