<div class="card-body">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Izdan za:</label>
                <input type="text" id="IssuedTo" TextMode="multiline" style="resize:none" class="form-control" readonly>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Vrijedi do:</label>
                <input type="text" id="ValidTo" TextMode="multiline" style="resize:none" class="form-control" readonly>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label">DN:</label>
                <textarea type="text" id="DN" TextMode="multiline" style="resize:none" class="form-control" readonly></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label">Thumbprint:</label>
                <input type="text" id="Thumbprint" class="form-control" readonly />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label">Serijski broj:</label>
                <input type="text" id="SerialNumber" class="form-control" readonly />
            </div>
        </div>
    </div>
</div>